*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root{
    --laranja: #C93400;
    --branco: #FAF4FA;
}

body{
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* fonte */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 32;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 1rem;
    margin: 2rem;
    
}

button{
    background-color: var(--laranja);
    background-repeat:no-repeat;
    border-radius: 2rem;
    border-color: var(--laranja);
    cursor:pointer;
    overflow: hidden; 
    color: var(--branco);
    padding: 16px;
    border-style: solid;
    width: 100%;

    position: fixed;
    bottom: 0;
    margin-bottom: 2rem;

    
}

.perfil{
    padding-bottom: 0.5rem;
}

.titulo{
    padding: 2rem;
}
