*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root{
    --laranja: #C93400;
    --branco: #FAF4FA;
}

body{
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* fonte */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 32;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 1rem;
    margin: 2rem;
    
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border-radius: 2rem;
    border-color: var(--laranja);
    cursor:pointer;
    overflow: hidden; 
    color: var(--laranja);
    padding: 16px;
    border-style: solid;
    width: 100%;
    
}

.botoes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.espaco-botoes{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

  .progress{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 29px;
    border-radius: 100px;
    background: #BDBCBC;
  }

  .progress1{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 0%;
    height: 29px;
    border-radius: 100px;
    background: #C93400;
  }
  .progress2{

    width: 8.3%;
    height: 29px;
    border-radius: 100px;
    background: #C93400;
  }
  .progress3{

    width: 16%;
    height: 29px;
    border-radius: 100px;
    background: #C93400;
  }
  .progress4{

    width: 32%;
    height: 29px;
    border-radius: 100px;
    background: #C93400;
  }
  .progress5{

    width: 40%;
    height: 29px;
    border-radius: 100px;
    background: #C93400;
  }
  .progress6{

    width: 48%;
    height: 29px;
    border-radius: 100px;
    background: #C93400;
  }
  .progress7{

    width: 56%;
    height: 29px;
    border-radius: 100px;
    background: #C93400;
  }
  .progress8{

    width: 64%;
    height: 29px;
    border-radius: 100px;
    background: #C93400;
  }
  .progress9{

    width: 72%;
    height: 29px;
    border-radius: 100px;
    background: #C93400;
  }
  .progress10{

    width: 80%;
    height: 29px;
    border-radius: 100px;
    background: #C93400;
  }
  .progress11{

    width: 80%;
    height: 29px;
    border-radius: 100px;
    background: #C93400;
  }
  .progress12{

    width: 88%;
    height: 29px;
    border-radius: 100px;
    background: #C93400;
  }
  .progress13{

    width: 92%;
    height: 29px;
    border-radius: 100px;
    background: #C93400;
  }




