*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root{
    --laranja: #C93400;
    --branco: #FAF4FA;
    --preto: #1A1616;
}

body{
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* fonte */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 32;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 1rem;
    margin: 2rem;
    
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border-radius: 2rem;
    border-color: var(--laranja);
    cursor:pointer;
    overflow: hidden; 
    color: var(--laranja);
    padding: 16px;
    border-style: solid;
    width: 100%;
    
}

.botoes{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    bottom: 0;
    margin-bottom: 2rem;
}

input{
    background-color: Transparent;
    background-repeat:no-repeat;
    border-radius: 2rem;
    border-color: var(--preto);
    cursor:pointer;
    overflow: hidden; 
    color: var(--preto);
    padding: 16px;
    border-style: solid;
    width: 100%; 
}

.cadastro{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.titulo{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.campos{
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sessao{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

}