:root{
    --laranja: #C93400;
    --branco: #FAF4FA;
}

.barra{
    width: 20.9rem ;
    height: 1.8rem ;
    border-radius: 6.25rem ;
    background-color: #BDBCBC;
    transition: all 300ms;
}

.barra div{
    height: 100%;
    border-radius: 0.6rem ;
    background-color: var(--laranja);
}