*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

:root{
  --laranja: #C93400;
  --branco: #FAF4FA;
  --cinza: #BDBCBC;
  --verde: #007D1B;
  --vermelho: #D70015;
}

body{
  background-color: var(--branco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* fonte */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 32;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 1rem;
  margin: 2rem;
  
}


  body {
    font-family: Arial, sans-serif;
    background-color: var(--branco);
    display: flex;

    height: 100vh;
    margin: 0;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    max-width: 200rem;
    width: 80%;
    
}

.barra-progresso {
    
    width: 100%;
    background-color: var(--cinza);
    border-radius: 16px;
    margin-bottom: 20px;
    overflow: hidden;
}

.barra-progresso div {
    height: 30px;
    border-radius: 16px;
    background-color: var(--laranja);
    width: 0%;
}

.pergunta {
    font-size: 20px;
    margin-bottom: 20px;
}

.respostas {
    list-style: none;
    padding: 0;
}
.respostas li {
    margin-bottom: 10px;
}
.respostas button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border-radius: 2rem;
    border-color: var(--laranja);
    cursor:pointer;
    overflow: hidden; 
    color: var(--laranja);
    padding: 16px;
    border-style: solid;
    width: 100%;
}
.respostas button:hover {
    background-color: var(--branco);
}
.resultado {
    display: none;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.resultado.correto {
    color: green;
}
.resultado.errado {
    color: red;
}
#proxima-pergunta {
    background-color: var(--laranja);
    background-repeat:no-repeat;
    border-radius: 2rem;
    border-color: var(--laranja);
    cursor:pointer;
    overflow: hidden; 
    color: var(--branco);
    padding: 16px;
    border-style: solid;
    width: 100%;
}

